.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #244855;
}

h1 {
  margin: 30px;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #fbe9d0;
}

p {
  font-size: 2rem;
  color: #fbe9d0;
  font-family: "Playwrite US Trad", cursive;
}

img {
  width: 80%;
}
